<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'specialties')}">

<body>

  <h2>Specialty</h2>
  <form th:object="${specialty}" class="form-horizontal" id="add-owner-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}" />
      <input
        th:replace="~{fragments/selectField :: select ('Mode', 'mode', ${modes})}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${specialty['new']} ? 'Add Specialty' : 'Update Specialty'"
          class="btn btn-default" type="submit" th:text="${text}">Add Specialty</button>
      </div>
    </div>
  </form>
</body>
</html>
