<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'specialties')}">

<body>


	<h2>Specialty Information</h2>


	<table class="table table-striped" th:object="${specialty}">
		<tr>
			<th>Name</th>
			<td th:text="*{name}" />
			<th>Mode</th>
			<td th:text="*{mode}" />
		</tr>
	</table>

	<a th:href="@{{id}/edit(id=${specialty.id})}" class="btn btn-default">Edit
		Specialty</a>


</body>

</html>
