<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'specialties')}">

  <body>

    <h2>Specialty</h2>

    <table id="specialties" class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Mode</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="specialty : ${specialties}">
              <td><a th:href="@{/specialties/__${specialty.id}__}"
					th:text="${specialty.name}" /></a></td>
			  <td th:text="${specialty.mode}"/>
          </tr>
        </tbody>
    </table>
	<a class="btn btn-default" th:href="@{/specialties/new}">Add Specialty</a>
  </body>
</html>