<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'pettypes')}">

<body>


	<h2>Pet Type Information</h2>


	<table class="table table-striped" th:object="${pettype}">
		<tr>
			<th>Name</th>
			<td th:text="*{name}" />
		</tr>
		<tr>
			<th>Category</th>
			<td th:text="*{category}" />
		</tr>
	</table>

	<a th:href="@{{id}/edit(id=${pettype.id})}" class="btn btn-default">Edit
		Pet Type</a>


</body>

</html>
