<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'pettypes')}">

<body>

	<h2>Pet Types</h2>

	<table id="petTypes" class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Category</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="type : ${petTypes}">
				<td><a th:href="@{/pettypes/__${type.id}__}"
					th:text="${type.name}" /></a></td>
				<td th:text="${type.category}"/>
			</tr>


		</tbody>
	</table>
	<a class="btn btn-default" th:href="@{/pettypes/new}">Add Pet Type</a>
</body>
</html>
