<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'products')}">

<body>

  <h2>Product</h2>
  <form th:object="${product}" class="form-horizontal" id="add-owner-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}" />
        <input
        th:replace="~{fragments/inputField :: input ('Price', 'price', 'text')}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${product['new']} ? 'Add Product' : 'Update Product'"
          class="btn btn-default" type="submit" th:text="${text}">Add Product</button>
      </div>
    </div>
  </form>
</body>
</html>
