<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'products')}">

  <body>

    <h2>Products</h2>

    <table id="products" class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="product : ${products}">
              <td><a th:href="@{/products/__${product.id}__}"
					th:text="${product.name}" /></a></td>
              <td th:text="${product.price}"/>
          </tr>
        </tbody>
    </table>
	<a class="btn btn-default" th:href="@{/products/new}">Add Products</a>
  </body>
</html>