<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'products')}">

<body>


	<h2>Product Information</h2>


	<table class="table table-striped" th:object="${product}">
		<tr>
			<th>Name</th>
			<td th:text="*{name}" />
			
		</tr>
		<tr>
			<th>Price</th>
			<td th:text="*{price}" />
		</tr>
	</table>

	<a th:href="@{{id}/edit(id=${product.id})}" class="btn btn-default">Edit
		Product</a>


</body>

</html>
